@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* background color */
    --primary-color: #e81922;
    --secondary-color: #333333;
    --bg-black: #111111;
    --bg-dark: #1c1819;
    --bg-dark-blue:#00008b;
    --bg-white: #fff;
    --bg-gray: #e5e5e5;

    /* text color */

    --primary-text:#e81922;
    --text-white: #fff;
    --text-black:#111111;


     /* font family */

     --primary-font:'Ubuntu',sans-serif;
    --secondary-font: 'Open Sans',sans-serif;  

   

}

body{
    font-family: var(--secondary-font);
    background-color: var(--bg-white);
}
a{
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track
{
    background-color: var(--bg-dark);
}
::-webkit-scrollbar-thumb{
    background: var(--primary-color);

}
section{
    padding: 100px 0;
}
.main-btn{
    display: inline-block;
    border-radius: 50px;
    padding: 10px 27px;
    border: 1px solid var(--primary-color);
    color: var(--primary-text);
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: linear-gradient(to right,var(--primary-color) 50% ,transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.5s ease-out;

}
.main-btn:hover
{
    color: var(--text-white);
    background-position: left bottom;
}

h1{
    font-size: 50px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--text-black);
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: var(--primary-font);
}
h1 span{
    color: var(--primary-text);
}

h2{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 15px;
    color: var(--text-black);
    font-family: var(--primary-font);
}
h3{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
    color: var(--text-black);
    font-family: var(--primary-font);
}
h2{
    font-weight: 700;
    font-size: 20px;
    color: var(--primary-text);    
}
p{
    color: var(--text-black);
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 1px;
    font-weight: 300;
}

/* navbar */

.header_wrapper .navbar{
  padding: 15px 0;
  -webkit-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -O-transition: all .2s linear; 
  transition: all .2s linear;
   /* background-color: rgba(253, 252, 252, 0.468);  */
  /* height: 100px; */
  

}
/* .header_wrapper .navbar:hover{
    box-shadow: 0 4px 6px 0 var(--bg-gray);
  } */
.header_wrapper .navbar-brand img{
       max-width:100px;
       height: auto;
       line-height: 100px;
}
.header_wrapper .navbar-toggler
{
    box-shadow: none;
}
.header_wrapper .nav-item
{
    margin: 0 10px;
}

.header_wrapper  .nav-item .nav-link
{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text-black);
    display: inline-block;

}
.header_wrapper  .nav-item .nav-link.active,
.header_wrapper  .nav-item .nav-link:hover
{
    color: var(--primary-text);
}

.header-scrolled
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 rgb(12, 0,46,.05 );
    box-shadow: 0 4px 6px 0 rgb(12, 0,46,.05 );
}


.banner_wrapper{
    padding-top: 100px;
}

.banner_wrapper .top-menu .card{
   height: 250px;
   overflow: hidden;
   cursor:pointer;
}
.banner_wrapper .top-menu .card img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 500ms ease;
}
.banner_wrapper .top-menu .card img:hover
{
    transform: scale(1.1);
}


/* about */


.about_wrapper{
    background-color: var(--bg-gray);
    padding-bottom: 130px;
}
 .about_wrapper .card{
    z-index: 10;
    right: -25%;
    top: 10%;
 }

 .about_wrapper .card{

    box-shadow: 0 4px 12px 0 var(--primary-color);

 }
  .about_wrapper .card .card-baby p
 {
     padding-top: 10px; 
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    /* margin-right: 10px; */
 } 
 .about_wrapper .card .card-baby a
 {
    margin-bottom: 25px;
    margin-left: 25px;
 }


 .about_wrapper .card h3
 {
    transition: transform 50ms ease;
    transform: scale(-1.1);
    padding-left: 25px;
    padding-right: 25px;



 }
 .about_wrapper .card h3:hover
 {
    transform: scale(1.1);
    text-align: center;
    color: var(--primary-text);
 }
 .about_wrapper .card p
 {
     transition: transform 50ms ease; 
    transform: scale(-1.1);
    

 }
 .about_wrapper .card p:hover
 {
    transform: scale(1.1);
    
 }
 .about_wrapper img
 {
    transition: transform 500ms ease; 

 }
 .about_wrapper img:hover
 {
    transform: scale(1.3);


 }
 /* menu */
 .menu_wrapper{
    width: 100%;
    height: auto;
    background-image:url(../image/menubanner2.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: var(--bg-dark);

 }
 .menu_wrapper .row
 {
    padding-top: 170px;
 }
 .menu_wrapper .card
 {
    background-color: var(--secondary-color);
 }
 .menu_wrapper .card h3,
 .menu_wrapper .card p
 {
    color: var(--text-white);
 }
 .menu_wrapper .card h3 span
 {
    background-color: var(--primary-color);
    width: 60px;
    height: 60px;
    display: inline-block;
    line-height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    font-size: 30px;
 }
 .menu_wrapper .card p
 {
    margin-left: 10px;
    margin-right: 5px;
 }
 .menu_wrapper .card a{
    margin-left: 15px;
 }


 /* offer */
 .offer_wrapper .card{
  height: 100%;
  min-height: 260px;
  /* box-shadow: 0 016px 4px var(--bg-dark-blue); */
 }
 .offer_wrapper .card h5{
    color: var(--primary-text);
 }

 .offer_wrapper .card .offer-text
 {
    width: 50%;
    height: 100%;
    background-color: var(--bg-black);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
 }
/* members */
 .member_wrapper
 {

    width: 100%;
    height: auto;
    background-image: url(../image/member.jpg);
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
    background-size: cover;

 }
 .member_wrapper .carousel-item{
    /* min-height: 500px; */
    width: 100%;
    height: 500px;

 }
 .member_wrapper .carousel-control-next, 
 .member_wrapper .carousel-control-prev
 {
    filter: brightness(0.10);
 }
 /* footer */
 /* .footer_wrapper{
    background-color: var(--bg-white);
    padding: 20px 0;
 }
 .footer_wrapper .footer-logo img{
    width: 100px;
 }
 .footer_wrapper .social-icon li{
    margin: 6px;

 }
 .footer_wrapper .social-icon a
 {
    width: 35px;
    height: 35px;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid var(--bg-black);
    color: var(--text-black);
    text-align: center;
    border-radius: 100%;
    --webkit-transition: all 0.3s cubic-bezier(0.645,0.045,0.335,1);
    transition: all 0.3s cubic-bezier(0.645,0.045,0.335,1);

 }
 .footer_wrapper .social-icon a:hover{
    background-color: var(--primary-color);
    border-color:var(--primary-text) ;
    box-shadow: 0 10px 15px 0 rgb(0 0 0/10%);
    transform: translateY(-3px);
 }

 .footer_wrapper .copyright-text p{
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;

 }
 .footer_wrapper .copyright-text a{
    color: var(--primary-text);
 } */

 .footer{
   background-color: var(--bg-white);
 
  }
  .footer h5{
   /* background-image: url(../image/logo1.png); */
   margin-top: 30px;
   margin-bottom: 20px;

  }
  .footer img {
   width: 90px;
   height: auto;
   margin-top: 30px;
   margin-bottom: 20px;

  }

  .footer ul li{
   margin-bottom: 8px;
   list-style: none;
   
  }
  
  .footer .contact-info li a{
   color: var(--primary-text);
  }
  .footer .link-widget li a,
  .footer p{
   color: var(--primary-color);
   font-size: .875rem;
   padding-left: 24px;
   position: relative;
  --webkit-transition: all 0.3s ease-out 0s;

   transition: all 0.3s ease-out 0s;
  }

  .footer .link-widget li a::before{
   /* content: "\f054"; */
   font-family:s;
   font-weight: 900;
   position: absolute;
   left: 0.3rem;
   top: 0%;
   --webkit-transition: translateY(-50%);
   transition: translateY(-50%);
  }
  
  .footer .link-widget li a:hover{
   /* color: var(--secondary-color); */
   margin-left: 10px;
  }
  .footer .social-network a{
   height: 35px;
   width: 35px;
   margin: 8px;
   line-height: 32px;
   font-size: 14px;
   display: inline-block;
    border: 2px solid var(--primary-color); 
   color: var(--primary-text);
   text-align: center;
   border-radius: 100%;
   transition: all;
  }
  .footer .social-network a:hover{
   background-color: var(--primary-color);
   border-color: var(--primary-color);
   color: var(--text-white);
   transform: translateY(-3px);
   box-shadow: 0 10px 15px 0 rgb(0 0 0 .10%);
  }
  .footer .form-control:focus{
   /* outline: none;
   box-shadow: none; */
   border-color: var(--secondary-color);
  }


  .copyright-section
  {
   background-color: var(--secondary-color);
   /* padding: 20px 0 5px; */
   text-align: center;
   width: 100%;
  }
  .copyright-section p{
   color: var(--text-white);
  }
  .copyright-section a{
   color: var(--primary-color);
  }








 



 

